<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Feedback</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <!-- App css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/bootstrap.min.css">
  <link rel="stylesheet" href="../style/icons.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="../style/theme-style.css" rel="stylesheet" type="text/css" />
  <link href="../style/custom-style.css" rel="stylesheet" type="text/css" />
  <link href="../style/comment.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!-- Begin page -->
<div id="wrapper">
  <!-- Topbar Start -->
  <div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <li class="dropdown notification-list">
        <a href="#" class="nav-link dropdown-toggle right-bar-toggle waves-effect waves-light" data-toggle="dropdown">
          <i class="material-icons align-middle" style="width: 35px; color:#292D39;">
            notification_important
          </i>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <!-- item-->
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Notification !</h6>
          </div>

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <span>Recover your password</span>

          </a>
          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <span>Change your password</span>
          </a>
        </div>

        <span class="info-bell-icon">4</span>
      </li>
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
          <img src="../images/nav-user.png" alt="user-image" class="rounded-circle">
          <span class="pro-user-name ml-1">
                 <!-- Turkish Gypsy Girl-->
              </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
          <!-- item-->
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome !</h6>
          </div>

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-user"></i>
            <span>My Account</span>
          </a>


          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-lock"></i>
            <span>Lock Screen</span>
          </a>

          <div class="dropdown-divider"></div>

          <!-- item-->
          <a href="#" class="dropdown-item notify-item">
            <i class="fe-log-out"></i>
            <span>Logout</span>
          </a>

        </div>
      </li>
    </ul>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li>
        <button class="button-menu-mobile waves-effect waves-light">
          <i class="fe-menu"></i>
        </button>
      </li>
    </ul>
  </div>
  <!-- end Topbar -->

  <!-- ========== Left Sidebar Start ========== -->
  <div class="left-side-menu">
    <div class="slimscroll-menu">
      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
          <li>
            <!-- LOGO -->
            <div class="logo-box">
              <a href="#" class="logo text-center">
                  <span class="logo-lg">
                      <img src="../images/theme-logo.png" alt="" >
                  </span>
                <span class="logo-sm">
                      <img src="../images/theme-logo.png" alt="">
                  </span>
              </a>
            </div>
          </li>
          <li>
            <a href="home%202.html">
              <i class="material-icons">
                dashboard
              </i>
              <span class="badge badge-success badge-pill float-right">4</span>
              <span> Home </span>
            </a>
          </li>
          <li>
            <a href="classes.html">
              <i class="material-icons">
                calendar_today
              </i>
              <span> Classes </span>
            </a>
          </li>
          <li>
            <a href="edit-class.html">
              <i class="material-icons">
                person
              </i>
              <span> Edit Class </span>
            </a>
          </li>
          <li>
            <a href="students.html">
              <i class="material-icons">
                person
              </i>
              <span> Students </span>
            </a>
          </li>
          <li>
            <a href="attendance.html">
              <i class="material-icons">
                how_to_reg
              </i>
              <span> Attendance </span>
            </a>
          </li>
          <li>
            <a href="feedback.html">
              <i class="material-icons">
                highlight
              </i>
              <span> Feedback </span>
            </a>
          </li>
          <li>
            <a href="notification.html">
              <i class="material-icons">
                notification_important
              </i>
              <span> Notifications </span>
            </a>
          </li>
          <li>
            <a href="setting.html">
              <i class="material-icons">
                perm_data_setting
              </i>
              <span> Setting </span>
            </a>
          </li>
        </ul>
        <!--            Menu Icon -->
        <ul class="menu-icon">
          <li>
            <button class="button-menu-mobile waves-effect waves-light">
              <i class="material-icons">
                menu
              </i>
            </button>
          </li>
        </ul>
      </div>
      <!-- End Sidebar -->
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
  </div>
  <!-- Left Sidebar End -->
  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
    <div class="content">
      <!-- Start Content-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="top-heading"> Feedback </h1>
          </div>
        </div>
        <div class="category-bar">
          <div class="form-group mini-select mb-md-0 mb-2 mr-2">
            <select class="form-control">
              <option>Semester 1</option>
              <option>Semester 2</option>
              <option>Semester 3</option>
              <option>Semester 4</option>
            </select>
          </div>
          <div class="form-group mini-select mb-md-0 mb-2">
            <select class="form-control">
              <option>Electronics 1</option>
              <option>Electronics 2</option>
              <option>Electronics 3</option>
              <option>Electronics 4</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="pai-chart">
              <div class="card-box">
                <div class="d-flex justify-content-between">
                  <h4 class="header-title mr-3">Learning </h4>
                  <div>
                    <div class="separation-bar">
                      <span> Total Check In: <b> 20 </b></span>
                      <span> Total Student: <b> 35 </b></span>
                    </div>
                  </div>
                </div>
                <div class="chart-area" style="height: 300px">
                  <!-- =========== Remove this <div> and parent height when you place the chart ==============-->
                  <div style="height: 100%" class="d-flex align-items-center justify-content-center">
                    <h1>Chart Area</h1>
                  </div>
                  <!-- =========== Remove this <div> and parent height when you place the chart ==============-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card-box">
              <div class="d-flex justify-content-between align-items-center flex-wrap mb-2 pb-2">
                <div class="d-flex justify-content-between align-items-center">
                  <h4 class="header-title mr-3">All Classes Learning <span>(this semester)</span></h4>
                </div>
              </div>
              <div class="chart-area" style="height: 300px">
                <!--                    =========== Remove this <div> and parent height when you place the chart ==============-->
                <div style="height: 100%" class="d-flex align-items-center justify-content-center">
                  <h1>Chart Area</h1>
                </div>
                <!--                    =========== Remove this <div> and parent height when you place the chart ==============-->
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="">
              <ul class="nav nav-tabs" id="commentTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="comment1-tab" data-toggle="tab" href="#comment1" role="tab" aria-controls="comment1" aria-selected="true">Brilliant</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="comment2-tab" data-toggle="tab" href="#comment2" role="tab" aria-controls="comment2" aria-selected="false">Super</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="comment3-tab" data-toggle="tab" href="#comment3" role="tab" aria-controls="comment3" aria-selected="false">Great</a>
                </li>
              </ul>
              <div class="tab-content" id="commentTabContent">
                <div class="tab-pane fade show active" id="comment1" role="tabpanel" aria-labelledby="home-tab">

                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="brilliant-tab1" data-toggle="tab" href="#brilliant1" role="tab" aria-controls="brilliant1" aria-selected="true">Too much content <span>5</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="brilliant-tab2" data-toggle="tab" href="#brilliant2" role="tab" aria-controls="brilliant2" aria-selected="false">Need more explanation <span>2</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="brilliant-tab3" data-toggle="tab" href="#brilliant3" role="tab" aria-controls="brilliant3" aria-selected="false">Interesting content <span>6</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="brilliant-tab4" data-toggle="tab" href="#brilliant4" role="tab" aria-controls="brilliant4" aria-selected="false">I could teach this <span>3</span></a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="brilliant1" role="tabpanel" aria-labelledby="brilliant-tab1">
                      <div class="table-responsive">
                        <table class="table table-sm detail-table mb-0">
                          <thead>
                          <tr>
                            <th width="20%">Sr. No</th>
                            <th>Comment</th>
                            <th><a href=""><u>Share</u></a></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>01</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>02</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="brilliant2" role="tabpanel" aria-labelledby="brilliant-tab2">
                      <div class="table-responsive">
                        <table class="table table-sm detail-table mb-0">
                          <thead>
                          <tr>
                            <th width="20%">Sr. No</th>
                            <th>Comment</th>
                            <th><a href=""><u>Share</u></a></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>01</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>02</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="brilliant3" role="tabpanel" aria-labelledby="brilliant-tab3">
                      <div class="table-responsive">
                        <table class="table table-sm detail-table mb-0">
                          <thead>
                          <tr>
                            <th width="20%">Sr. No</th>
                            <th>Comment</th>
                            <th><a href=""><u>Share</u></a></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>01</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>02</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="brilliant4" role="tabpanel" aria-labelledby="brilliant-tab4">
                      <div class="table-responsive">
                        <table class="table table-sm detail-table mb-0">
                          <thead>
                          <tr>
                            <th width="20%">Sr. No</th>
                            <th>Comment</th>
                            <th><a href=""><u>Share</u></a></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>01</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>02</td>
                            <td>
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et
                                quas molestias excepturi sint occaecati cupiditate non provident,
                                similique sunt in culpa qui officia deserunt.
                              </p>
                            </td>
                            <td></td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="comment2" role="tabpanel" aria-labelledby="profile-tab">
                  2
                </div>
                <div class="tab-pane fade" id="comment3" role="tabpanel" aria-labelledby="contact-tab">
                  3
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- container -->
    </div> <!-- content -->
    <!-- Footer Start -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            2019 Dummy <a href="#">Polis</a>
          </div>
          <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-sm-block">
              <a href="#">About Us</a>
              <a href="#">Help</a>
              <a href="#">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->
</div>

<!-- END wrapper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Vendor js -->
<script src="../javascript/jquer.js"></script>
<!-- App js-->
<script src="../javascript/javascript.js"></script>

</body>
</html>
